<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Tournament</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Add New Tournament</h1>
            <form method="post" action="{% url 'add_tournament' %}">
                {% csrf_token %}
                <div class="field">
                    <label class="label" for="tournament_name">Tournament Name:</label>
                    <div class="control">
                        <input class="input" type="text" name="tournament" required>
                    </div>
                </div>
                <!-- date -->
                <div class="field">
                    <label class="label" for="date">Date:</label>
                    <div class="control">
                        <input class="input" type="date" name="date" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="team_count">Number of Teams:</label>
                    <div class="control">
                        <div class="select">
                            <select name="team_count" required>
                                <option value="8">8 Teams</option>
                                <option value="16">16 Teams</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-link" type="submit">Create Tournament</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>
</html>